name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: mrkkrp/ormolu-action@v5
  build:
    runs-on: ubuntu-latest
    needs: ormolu
    strategy:
      matrix:
        cabal: ["3.6"]
        ghc: ["8.10.7", "9.0.1", "9.2.1"]
    env:
      CONFIG: "--enable-tests --enable-benchmarks --flags=dev"
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: haskell/actions/setup@v1.2.7
        id: setup-haskell-cabal
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: cabal update
      - run: cabal freeze $CONFIG
      - uses: actions/cache@v2.1.3
        with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      - run: cabal format
      - run: pushd megaparsec-tests && cabal format && popd
      - run: git diff --exit-code --color=always
      - run: cabal build all $CONFIG
      - run: cabal test all $CONFIG
      - run: cabal haddock megaparsec $CONFIG
      - run: cabal haddock megaparsec-tests $CONFIG
      - run: cabal sdist
      - run: pushd megaparsec-tests && cabal sdist && popd
