name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/run-ormolu@v17
  build:
    runs-on: ubuntu-latest
    needs: ormolu
    strategy:
      matrix:
        cabal: ["3.12"]
        ghc:   ["9.8.4", "9.10.3", "9.12.1"]
    steps:
      - uses: actions/checkout@v6
      - uses: haskell-actions/setup@v2
        id: setup-haskell-cabal
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: cabal update
      - run: cabal freeze
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-0-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-0-
      - run: cabal format
      - run: pushd megaparsec-tests && cabal format && popd
      - run: git diff --exit-code --color=always
      - run: cabal build all
      - run: cabal test all
      - run: cabal haddock megaparsec
      - run: cabal haddock megaparsec-tests
      - run: cabal sdist
      - run: pushd megaparsec-tests && cabal sdist && popd
